<section class="sponsors">
    <div class="container">
        <div class="row">
            <h2>{{ 'Sponsors'|t }}</h2>
            {% block content %}
                {{ content }}
            {% endblock %}
        </div>
    </div>
</section>