$asset_colour1: rgb(168, 51, 69); // pinky
$asset_colour2: #000000; // grey/brown
$asset_colour3: rgb(37, 53, 68); // blue
$asset_colour4: #205081;

// Skill colours.
$skill_beginner: #00a7e1;
$skill_intermediate: #81bc00;
$skill_expert: #ff001f;

// Track.
$site_building: #b50083;
$user_experience: #f39200;
$coding_development: #935bff;
$community: #00253d;
$symfony: #0081c9;
